@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  color: white;
  background-color: #82ae46;
  font-size: 11px;
  height: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

header .container .row .col-md-4 i {
  margin-right: 8px;
}

header .container .row a {
  text-decoration: none;
  color: white;
}

header .container .row .col-md-4:last-child {
  text-align: right;
}

.navigation {
  height: 70px;
  background: white;
  position: relative;
  /* Mobile navigation */
}

.navigation .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 20px;
}

.navigation .brand a,
.navigation .brand a:hover {
  color: #82ae46;
  text-decoration: none;
  font-weight: 800;
}

.navigation .nav_container {
  max-width: 76%;
  margin: 0 auto;
}

.navigation nav {
  float: right;
}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation nav ul li {
  float: left;
  position: relative;
}

.navigation nav ul li a,
.navigation nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: black;
  text-decoration: none !important;
  font-size: 16px;
}

.navigation nav ul li a:not(:only-child):after,
.navigation nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

.navigation nav ul li ul li {
  min-width: 190px;
}

.navigation nav ul li ul li a {
  padding: 12px;
  line-height: 15px;
}

.navigation .nav_dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.navigation .nav_dropdown li a:hover {
  background-color: #82ae46;
}

.navigation .nav_mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

.navigation #nav_toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

.navigation #nav_toggle span,
.navigation #nav_toggle span:before,
.navigation #nav_toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navigation #nav_toggle span:before {
  top: -10px;
}

.navigation #nav_toggle span:after {
  bottom: -10px;
}

.navigation #nav_toggle.active span {
  background-color: transparent;
}

.navigation #nav_toggle.active span:before, .navigation #nav_toggle.active span:after {
  top: 0;
}

.navigation #nav_toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation #nav_toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.carousel_section {
  width: 100%;
  position: relative;
  margin: auto;
  max-height: 650px;
}

.carousel_section .mySlides {
  display: none;
}

.carousel_section .mySlides img {
  width: 100%;
  height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.carousel_section .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.6;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.carousel_section .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel_section .row .col-md-12 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel_section .row h1 {
  font-size: 8rem;
  font-family: 'Amatic SC', cursive;
}

.carousel_section .row p {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 13px;
}

.carousel_section .row .btn {
  background-color: #82ae46;
  border: 1px solid #82ae46;
  border-radius: 5rem;
  font-size: 18px;
  margin: 10px 0;
}

.carousel_section .row .btn:hover {
  background-color: transparent;
}

.service_section {
  padding: 5rem 0;
}

.service_section .container .row .media {
  display: block;
}

.service_section .container .row .media .icon {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  position: relative;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service_section .container .row .media .icon .img {
  height: 3.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 25%;
  top: 22%;
}

.service_section .container .row .media .bg-color-1 {
  background-color: #e4b2d6;
}

.service_section .container .row .media .bg-color-2 {
  background-color: #dcc698;
}

.service_section .container .row .media .bg-color-3 {
  background-color: #a2d1e1;
}

.service_section .container .row .media .bg-color-4 {
  background-color: #dcd691;
}

.service_section .container .row .media .icon:hover {
  background-color: #82ae46;
}

.service_section .container .row .media .icon::after {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.19);
  border-radius: 50%;
}

.service_section .container .row .media .text {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}

.service_section .container .row .media .text h3 {
  font-size: 16px;
}

.service_section .container .row .media .text p {
  font-size: 13px;
  color: gray;
  margin-top: 1rem;
}

.category_section .row .col-md-4 {
  margin-bottom: 1.5rem;
}

.category_section .row .img {
  width: 100%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.category_section .row .text {
  padding: 4px 20px;
  font-size: 20px;
  background-color: #82ae46;
  position: absolute;
  bottom: 0;
  left: 0;
}

.category_section .row .text a {
  text-decoration: none;
  color: white;
}

.category_section .row .top {
  margin-bottom: 1.5rem;
}

.category_section .row .middle {
  height: 536px;
}

.category_section .row .img_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
}

.category_section .row .img_text h3 {
  color: #82ae46;
  font-family: 'Lora', serif;
  font-size: 23px;
}

.category_section .row .img_text p {
  color: grey;
  font-size: 16px;
}

.category_section .row .img_text .btn {
  background-color: #82ae46;
  border: 1px solid #82ae46;
  border-radius: 5rem;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.category_section .row .img_text .btn:hover {
  background-color: transparent;
  color: #82ae46;
}

.products_section {
  padding: 6rem 0;
}

.products_section .container .row {
  padding-top: 2rem;
}

.products_section .container .row .col-12 {
  text-align: center;
}

.products_section .container .row .col-12 h4 {
  font-family: 'Lora', serif;
  color: #82ae46;
  font-size: 19px;
}

.products_section .container .row .col-12 h2 {
  font-size: 2.7rem;
  margin: 15px 0 25px;
}

.products_section .container .row .col-12 p {
  color: grey;
  font-size: 17px;
}

.products_section .container .row .col {
  margin-bottom: 2rem !important;
}

.products_section .container .row .col .card {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products_section .container .row .col .card a {
  text-decoration: none;
}

.products_section .container .row .col .card a .percent {
  color: white;
  background-color: #82ae46;
  padding: 4px 8px;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

.products_section .container .row .col .card a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products_section .container .row .col .card a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
}

.products_section .container .row .col .card .card-body {
  text-align: center;
  position: relative;
}

.products_section .container .row .col .card .card-body h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.products_section .container .row .col .card .card-body .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.products_section .container .row .col .card .card-body .card-text .price {
  margin-right: 10px;
  color: #b3b3b3;
  text-decoration: line-through;
}

.products_section .container .row .col .card .card-body .card-text .sale_price {
  color: #82ae46;
}

.products_section .container .row .col .card .card-body .icons {
  position: absolute;
  left: 4rem;
  bottom: 11px;
  opacity: 0;
}

.products_section .container .row .col .card .card-body .icons a {
  text-decoration: none;
}

.products_section .container .row .col .card .card-body .icons a i {
  font-size: 13px;
  color: white;
  background-color: #82ae46;
  padding: 13px;
  border-radius: 10rem;
}

.products_section .container .row .col .card:hover {
  -webkit-box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.07);
}

.products_section .container .row .col .card:hover .icons {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products_section .container .row .col .card:hover .card-text {
  opacity: 0;
}

.img_section {
  height: 38rem;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 6rem 0;
}

.img_section .container .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.img_section .container .row .col-md-6 span {
  font-family: 'Lora', serif;
  color: #82ae46;
  font-size: 19px;
}

.img_section .container .row .col-md-6 h2 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 1rem 0 2rem;
}

.img_section .container .row .col-md-6 p {
  color: black;
  font-size: 17px;
}

.img_section .container .row .col-md-6 h3 {
  color: #82ae46;
  font-family: 'Lora', serif;
  margin: 1.5rem 0 1.1rem;
  font-size: 1.8rem;
}

.img_section .container .row .col-md-6 .price {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.img_section .container .row .col-md-6 .price::before {
  color: grey;
  content: '$10';
}

.img_section .container .row .col-md-6 .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
}

.img_section .container .row .col-md-6 .timer .time {
  padding: 0 2.3rem 0 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 3rem;
  color: #82ae46;
  font-weight: 600;
}

.img_section .container .row .col-md-6 .timer .time span {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.img_section .container .row .col-md-6 .timer .time:first-child {
  border-left: transparent;
  padding-left: 0;
}

.customers_section {
  padding: 5rem 0;
}

.customers_section .container .row .col-md-7 {
  text-align: center;
}

.customers_section .container .row .col-md-7 span {
  color: #82ae46;
  font-family: 'Lora', serif;
  font-size: 20px;
}

.customers_section .container .row .col-md-7 h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin: 1rem 0 1.6rem;
}

.customers_section .container .row .col-md-7 p {
  color: grey;
  font-size: 17px;
}

.customers_section .container #carouselExampleCaptions .carousel-indicators li {
  width: 11px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 5px;
}

.customers_section .container #carouselExampleCaptions .carousel-indicators .active {
  background-color: #82ae46 !important;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row {
  padding: 5rem 0;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card {
  border: none;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card img {
  border-radius: 50%;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .icon {
  position: absolute;
  top: 5rem;
  right: 7.2rem;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .icon i {
  color: #82ae46;
  background-color: white;
  padding: 0.8rem;
  border-radius: 5rem;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body {
  text-align: center;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body .card-text {
  border-left: 1px solid #e6e6e6;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body .card-text p {
  padding: 0 2rem;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body .card-title {
  margin-top: 3.5rem;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body .card-title h5 {
  text-transform: capitalize;
  font-weight: 400;
}

.customers_section .container #carouselExampleCaptions .carousel-inner .carousel-item .row .col-md-4 .card .card-body .card-title p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.partners_section {
  padding: 6rem 0;
}

.partners_section .container .row {
  text-align: center;
}

.partners_section .container .row a img {
  width: 80%;
}

.subscribe_section {
  width: 100%;
  height: 13rem;
  background-color: #f7f6f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_section .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.subscribe_section .container .row .col-md-6 h2 {
  font-weight: 400;
  font-size: 25px;
}

.subscribe_section .container .row .col-md-6 p {
  color: grey;
  font-size: 17px;
}

.subscribe_section .container .row .col-md-6 form .form-row .col-md-10,
.subscribe_section .container .row .col-md-6 form .form-row .col-md-2 {
  padding: 0;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control {
  border-radius: 0;
  border: none;
  height: 3.5rem;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control::-webkit-input-placeholder {
  color: black;
  font-weight: 300;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control:-ms-input-placeholder {
  color: black;
  font-weight: 300;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control::-ms-input-placeholder {
  color: black;
  font-weight: 300;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control::placeholder {
  color: black;
  font-weight: 300;
}

.subscribe_section .container .row .col-md-6 form .form-row .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subscribe_section .container .row .col-md-6 form .form-row .btn {
  border-radius: 0;
  background-color: #82ae46;
  color: white;
  border: none;
  height: 3.5rem;
  font-weight: 300;
}

.subscribe_section .container .row .col-md-6 form .form-row .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  padding: 5rem 0;
}

footer .container .row {
  padding: 1rem 0;
}

footer .container .row .card-body .card-title {
  font-size: 18px;
  margin-bottom: 20px;
}

footer .container .row .card-body .card-text {
  list-style: none;
  font-size: 15px;
}

footer .container .row .card-body .card-text li {
  padding: 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .row .card-body .card-text li a {
  text-decoration: none;
  color: #000000;
}

footer .container .row .card-body .icons {
  padding: 3.5rem 0;
}

footer .container .row .card-body .icons a {
  text-decoration: none;
  color: black;
}

footer .container .row .card-body .icons a i {
  font-size: 1.7rem;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 5rem;
  width: 3.2rem;
  text-align: center;
  margin-right: 10px;
}

footer .container .row .col-md-4 .card-text {
  margin-right: 2rem;
}

footer .container .row .col-md-3 .card-body .card-text li {
  padding-bottom: 0;
}

footer .container .row .col-md-3 .card-body .card-text li span i {
  padding-right: 25px;
  font-size: 15px;
}

footer .container .row .col-md-3 .card-body .card-text li:first-child span:last-child {
  padding-left: 5px;
}

footer .container .row .col-md-3 .card-body .card-text li:last-child {
  padding-top: 15px;
}

footer .container .copyright {
  text-align: center;
}

footer .container .copyright span i {
  font-size: 14px;
}

footer .container .copyright a {
  text-decoration: none;
  color: #82ae46;
}

@media only screen and (max-width: 998px) {
  .nav_mobile {
    display: block !important;
    z-index: 50;
  }
  .brand {
    z-index: 50;
  }
  .nav_container {
    max-width: 100% !important;
  }
  nav {
    width: 100%;
    padding: 70px 0 0;
    background-color: black;
    position: absolute;
    z-index: 10;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none !important;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    color: white !important;
    text-transform: uppercase;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  nav .nav_dropdown {
    position: static !important;
  }
  nav .nav_dropdown li a {
    color: black !important;
  }
  nav .nav_list .bg_color {
    background-color: #82ae46;
    margin: 0 20px 15px;
  }
}

@media screen and (min-width: 999px) {
  .nav_list {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  header {
    height: auto;
  }
  header .container .row {
    padding: 10px 0;
  }
  header .container .row .col-12:last-child {
    text-align: left;
  }
  .carousel_section .mySlides .row h1 {
    font-size: 2.5rem;
  }
  .category_section .row .col-md-4 {
    margin-bottom: 1rem;
  }
  .category_section .row .col-md-4:nth-child(2) {
    height: 536px;
  }
  .products_section {
    padding: 0 0 5rem;
  }
  .img_section .container .row .col-12 .timer .time {
    padding: 0 13px 0 16px;
    font-size: 2rem;
    color: black;
  }
  .subscribe_section {
    height: 20rem;
  }
  footer {
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel_section {
    max-height: 550px;
  }
  .img_section .row .col-12 .timer .time {
    padding: 0 1rem 0 1rem !important;
    color: black !important;
  }
  footer .row .col-md-3 {
    padding: 0;
  }
  footer .row .card-body {
    padding: 0;
  }
  footer .row .card-body .icons i {
    display: block;
  }
  footer .row .card-body .card-text span i {
    padding-right: 20px !important;
  }
  footer .row .card-body .card-text li:last-child i {
    padding-right: 0 !important;
  }
}
/*# sourceMappingURL=index.css.map */